.chart {
  padding: 1rem;
  border: 1px solid #a209e8;
  background-color: rgba(250, 190, 240, 0.44);
  color: #a209e8;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}
