.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-text {
  text-align: center;
  color: #530378;
  background-color: white;
  margin: 2rem auto;
  width: 52rem;
  max-width: 100%;
  border-radius: 12px;
  border: 2px solid #a209e8;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
